body{
    background-color:#AED6F1;
}
h1{ display: flex;
    justify-content: center;
    font-size:x-large;}
    
    .imagenes{display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            width: 20vw;
            height: 30vh;}
p{background-color:aliceblue;
    font-family: Tahoma ;

    }

.servicios{display: flex;
        flex-flow: row wrap;
        align-self: center ;
        align-items:center;
        justify-content: space-between;
        }




#elemento1 {
            background-color: aquamarine;

        }
        
#elemento2 {
            background-color: rgb(237, 182, 248);

        }
        

#elemento3 {
    background-color: aquamarine;

}
#elemento4 {
    background-color: rgb(240, 140, 243);

}


#elemento5 {
    
    display: flex;
    flex-direction: row-reverse;
    width: 35vw;
}

#segundo{
    background-color: blue;
    font-family: monospace;
    color: white;
    }


    
